@import "bulma.css";
@import "spacelab.css";

textarea {
  width: 320px;
  height: 240px;
}

#title-logo {
  font-weight: 600;
  text-shadow: -.75px 0 rgba(66,85,104, .75), 0 .75px rgba(66,85,104, .75), .75px 0 rgba(66,85,104, .75), 0 -.75px rgba(66,85,104, .75);
}

#feed-sections section.section:first-of-type {
  padding-top: .5rem;
}

#stand-up {
  padding: 2rem;
}

#flash {
  margin: 0;
}

#flash.is-hidden {
  transition: all 2s ease-in;
}
